<script src="scripts/viewer.js"></script>
<div class="intro">
  <h1>Data viewer</h1>
</div>
<div class="data-viewer-content">
  {{ range .Trial_info }}
  <div class="chart-card">
    <h2>Trial {{ . }}</h2>
    <canvas id="canvas-{{.}}" aria-label="Graph showing the results" role="img">
      <p>Data should be displayed here :/</p>
    </canvas>
    <button
      hx-get="/fullscreen"
      hx-headers='{"trial_num": {{.}}}'
      hx-target="main"
    >
      Open in fullscreen
    </button>
  </div>
  {{ end }}
</div>

<script>
  data = {{.Data}}
</script>
