<div id="image-data-display">
    <p>Trial-{{ .trial }} <br> Image: {{ .image }} <br> Time: {{ .time }} </p>
    <img 
        src="{{ .path }}" 
        alt="upside-down measuring glass filled with water and carbon dioxide that pushes down the water."
        hx-post="/user-image-data" 
        hx-trigger="click"
        hx-headers="js:{pxHeight: pxHeight, id: {{.id}}, trialId: {{.trial}}}" {{/*TODO: make sure this is safe*/}}
        hx-target="#image-data-display"
        hx-swap="outerHTML"
    >
</div>