# Contains passwords and login information
.env

# Ignore stupid vscode things
.vscode

# This file is created by go during runtime
__debug_bin*.exe

# Useful for backing up a file for debugging
*.bak

# This is for the scripts/node
node_modules
package-lock.json

# All the pictures shouldn't be on the git repo, instead just the zipped versions
cmd/web/static/images/trial-*/*.jpg

cmd/web/static/videos/trial-*.mp4