<div class="intro">
  <h1>Classification</h1>
</div>
<div class="classification-content">
  <img
    src="images/trial-{{ trial_num }}/{{ image_num }}.jpg"
    alt="upside-down measuring
  glass filled with water and carbon dioxide that pushes down the water."
    id="fetcher-img"
    hx-post="/user-image-data"
    hx-headers="js:{pxHeight:pxHeight, id: {{ image_id }}}"
    hx-target="main"
  />
  <div class="information information-img">
    <h2>Image Information</h2>
    <p>Image: {{ image_num }}</p>
    <p>Time taken: {{ time }}</p>
    <p>Times analyzed: 2</p>
    <p>Last requested: 18:47:23 6/3 - 2024</p>
  </div>
  <div class="information information-trial">
    <h2>Trial Information</h2>
    <p>Trial: {{ trial_num }}</p>
    <p>Started at: 16:22:11 10/2-2023</p>
    <p>Additional information</p>
    <ul>
      <li>Yeast: 1g</li>
      <li>Sugar: 40g</li>
      <li>Stirring: no</li>
    </ul>
  </div>
</div>
<script src="scripts/fetcher.js"></script>
